* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

html {
    background-color: #222;
    font-family: 'ubuntu';
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
}

.logo {
    margin-top: 5em;
}

.logo img {
    width: 70%;
}

body {
    color: #fff;
}

.soon {
    font-family: 'ubuntu';
    margin-bottom: 0;
}

.mmm {margin-bottom: 0;}
.grey{color: rgb(104, 104, 104);}

.viw {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}